@page "/"
@inject NavigationManager navManager
@inject ILogger<Home> logger

<h1>Games</h1>
@for(var gameId = 0;gameId < GameHost.Instance.Games.Where(g => g.Player2 is null).Count(); gameId++)
{
    <button @onclick=@(() => joinGame(gameId-1))>Join Game</button>
}
<button @onclick=createNewGame>Create New Game</button>

@code {
    void joinGame(int gameId)
    {
        logger.LogInformation("Joining game {gameId}", gameId);
        navManager.NavigateTo($"/join?gameid={gameId}");
    }
    void createNewGame()
    {
        var newGame = new Game();
        GameHost.Instance.Games.Add(newGame);
        navManager.NavigateTo($"/join?gameid={GameHost.Instance.Games.Count-1}");
    }
}